.titleRegister{
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: xx-large;
    color:white!important;
  }
  
  input[type=text], input[type=password] {
  background-color: #F6F6F6;
  border: none0;
  color: #0D0D0D;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: auto;
  margin-bottom: 20px;
  width: 85%;
  border: 2px solid #F6F6F6;
  -webkit-box-shadow: 0 20px 30px 0 white;
  box-shadow: 0 5px 5px 0 white;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  }
  
  .btnRegister {
    background-color: rgb(99, 192, 187)!important;
    font-family: 'Raleway', sans-serif!important;
    display: block!important  ;
    margin:auto;
    margin-top: 45px!important;
    margin-bottom: 10px;
    border: 1px solid gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    width: 85%;
    color:#d2ffff;
  }
  
  
  .btnRegister:active{
  box-shadow:0px 5px 10px rgba(0,0,0,0.2);
  transform:translateY(-1px);
  }
  
  .btnRegister::after{
  text-decoration: none;
  text-transform:uppercase;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border-radius:100px;
  display:inline-block;
  z-index:-1;
  transition: all .5s;
  }
  
  .at {
    background-image:url(./images/at.png);
    background-size:30px; 
    background-repeat: no-repeat;
    background-position: left;
  
  }
  
  .lock {
    background-image:url(./images/lock.png);
    background-size:30px; 
    background-repeat: no-repeat;
    background-position: left;
  
  }
  
  .containerRegister {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 15%;
  }

  .authentication {
      color: white;
  }

  .registered {

    color: rgb(99, 192, 187);
  }
  